@model List<Category>
@{
    ViewData["Title"] = "Education";
}
<h1>Category List:</h1>

@if (User.IsInRole(StaticDetails.Roles.Role_Admin))
{
    <a asp-controller="Category" asp-action="Create">
        Create category
    </a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Category Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        @category.Id
                    </td>
                    <td>
                        @category.Name
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-primary mx-2">
                                Edit
                            </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger mx-2">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Category Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        @category.Id
                    </td>
                    <td>
                        @category.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
